/* settaggio base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

/* .contenitore {
  width: 60%;
  margin: auto;
} */

/* intestazione */

#titolo {
  text-align: center;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 90px;
  margin-top: 10px;
}

/* fine intestazione */

/* corpo centrale */

/* creazione carta */
/* .carta {
  width: 244px;
  height: 254px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  display: inline-block;
}

.img {
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 25px;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
  color: #E61986;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.carta .pattern {
  width: 240px;
  height: 250px;
  display: inline-block;
  border: none;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
}

.carta-completa {
  margin: 10px;
  display: inline-block;
} */


/* hover carta */

/* .carta .contenuto {
  width: 240px;
  height: 250px;
  border: none;
  display: inline-block;
  display: none;
} */
/*
.carta-completa:hover .pattern {
  display:none;
} */

/*
.carta-completa:hover .contenuto {
  display: block;
} */

/* .contenitore-carte {
  margin: auto;
} */


/* .row-1, .row-2, .row-3  {
  text-align: center;
} */


/* MAIN RIFATTO */

.carta {
  width: 244px;
  height: 254px;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
  position: relative;
}


img {
  width: 70%;
  height: 70%;
  margin: auto;
  display: block;
  padding-top: 15px;
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.retro {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
}

.carta:hover .retro {
  display: block;
}

.carta:hover {
  background-image: none;
  background-color: #fff;
}

.carta {
  display: inline-block;
  margin: 15px;
}

.contenitore {
  text-align: center;
}

.balloon {
  color: #E61986;
}

.bicycle {
  color: #0000FF;
}

.cruise-ship {
  color: #DC143C;
}

.submarine {
  color: #008000;
}

.tractor {
  color: #FFA500;
}

.tram {
  color: #40E0D0;
}

/* FINE MAIN RIFATTO */


/* footer */
h6 {
  margin-top: 20px;
  text-align: center;
  font-size: 23px;
}
