/* settaggio base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

.contenitore {
  width: 60%;
  margin: auto;
}

/* intestazione */

#titolo {
  text-align: center;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 100px;
  margin-top: 30px;
}

/* fine intestazione */

/* corpo centrale */

/* creazione carta */
.carta {
  width: 244px;
  height: 254px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  display: inline-block;
}

.img {
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 25px;
  display: inline-block;
}

img {
  width: 100%;
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
  color: #E61986;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.carta .pattern {
  background-color: red;
  width: 240px;
  height: 250px;
  display: inline-block;
  border: none;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
}

.carta-completa {
  margin: 10px;
  display: inline-block;
}


/* hover carta */

.carta .contenuto {
  width: 240px;
  height: 250px;
  border: none;
  display: inline-block;
  display: none;
}

.carta-completa:hover .pattern {
  display:none;
}


.carta-completa:hover .contenuto {
  display: block;
}

.contenitore-carte {
  margin: auto;
}


.row-1 {
  text-align: center;
}
